pandas
geopandas
duckdb
pyarrow
plotly
seaborn
missingno
matplotlib
contextily
folium
mapclassify
pysal
libpysal
splot
jupyter
notebook
nbconvert
invoke
rapidFuzz
numpy<2
structlog
geobr
osmnx
statsmodels
mgwr
scipy>=1.12,<1.15
scikit-learn
